<div class="card">
    <div class="card-body">
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts">
                <td>{{account.name}}</td>
                
              </tr>
            </tbody>
        </table>
    </div>
</div>

<br>

<app-transacciones></app-transacciones>